#sidebar {
  background-color: #0099FF;
}

@media screen and (max-width: 768px) {
  #sidebar {
    width: 100%;
  }
}

@media screen and (min-width: 769px) {
  #sidebar {
    float: left;
    right: 0;
    width: 45%;
  }
}
