* {
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #E6E6E6;
  font-size: 22px;
  text-align: center;
}

.content {
  padding: 5px;
}

.topbar {
  width: 100%;
  height: 40px;
}

#topbar-1 {
  background-color: magenta;
}

#topbar-2 {
  background-color: lime;
}

#page-content {
  position: relative;
  background-color: #CCFFFF;
}

#page-content #main-content-and-sidebar div.clear {
  clear: both;
}

#main-content {
  width: 55%;
  height: 1800px;
  float: left;
  background-color: #FFCC99;
}

@media screen and (max-width: 768px) {
  #main-content {
    width: 100%;
  }
}

#page-content #bottom-content {
  height: 600px;
  background-color: #993300;
}

#footer {
  height: 300px;
}
